<div class="panel">
  <div
    class="panel-heading"
    data-bs-toggle="collapse"
    data-bs-target="#pangenographer-settings"
  >
    <span class="panel-title accordion-toggle"
      ><b class="va-heading2">PanGenoGrapher</b></span
    >
  </div>
  <div id="pangenographer-settings" class="collapse show">
    <div
      class="va-text"
      *ngFor="let setting of pangenographerBoolSettings; let i = index"
    >
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="setting.isEnable"
          [id]="'pangenographerBool' + i"
          (change)="settingChanged(setting.isEnable, setting.path2userPref)"
          title="PanGenoGrapher"
        />
        <label class="form-check-label" [for]="'pangenographerBool' + i">{{
          setting.text
        }}</label>
      </div>
    </div>

    <!-- Adjusts the length of up/downstream -->
    <div>
      <div class="form-inline m-1">
        <label class="va-text">Length of up/downstream</label>
        <input
          type="number"
          max="10"
          min="1"
          step="any"
          (change)="onLengthOfUpDownstreamSelected($event)"
          [(ngModel)]="lengthOfUpDownstream"
          class="form-control standart-input-height va-small-text ms-1 w5-5"
          placeholder="Length of up/downstream"
        />
      </div>
    </div>

    <!-- Adjusts the size of neo4j query batches in lines -->
    <div>
      <div class="form-inline m-1">
        <label class="va-text">Size of Neo4j query batches in lines</label>
        <input
          type="number"
          min="1"
          step="any"
          (change)="onsizeOfNeo4jQueryBatchesInLinesSelected($event)"
          [(ngModel)]="sizeOfNeo4jQueryBatchesInLines"
          class="form-control standart-input-height va-small-text ms-1 w5-5"
          placeholder="Size of Neo4j query batches in lines"
        />
      </div>
    </div>

    <!-- Adjusts the size of neo4j query batches in characters -->
    <div>
      <div class="form-inline m-1">
        <label class="va-text">Size of Neo4j query batches in characters</label>
        <input
          type="number"
          min="1"
          step="any"
          (change)="onsizeOfNeo4jQueryBatchesInCharactersSelected($event)"
          [(ngModel)]="sizeOfNeo4jQueryBatchesInCharacters"
          class="form-control standart-input-height va-small-text ms-1 w5-5"
          placeholder="Size of Neo4j query batches in characters"
        />
      </div>
    </div>

    <!-- Adjusts the maximum segment data size to be sent per line -->
    <div>
      <div class="form-inline m-1">
        <label class="va-text"
          >Maximum segment data size to be sent per line</label
        >
        <input
          type="number"
          min="1"
          step="any"
          (change)="onSegmentDataSizeQueryLimitSelected($event)"
          [(ngModel)]="segmentDataSizeQueryLimit"
          class="form-control standart-input-height va-small-text ms-1 w5-5"
          placeholder="Maximum segment data size to be sent per line"
        />
      </div>
    </div>

    <!-- Adjust the size of the sample data fetched from neo4j -->
    <div>
      <div class="form-inline m-1">
        <label class="va-text">Size of sample data fetched from Neo4j</label>
        <input
          type="number"
          min="1"
          step="any"
          (change)="onSizeOfGetSampleDataSelected($event)"
          [(ngModel)]="sizeOfGetSampleData"
          class="form-control standart-input-height va-small-text ms-1 w5-5"
          placeholder="Size of sample data fetched from Neo4j"
        />
      </div>
    </div>

    <!-- Adjusts the length of the length of BLAST selected segments path -->
    <div>
      <div class="form-inline m-1">
        <label class="va-text">Length of BLAST selected segments path</label>
        <input
          type="number"
          max="10"
          min="1"
          step="any"
          (change)="onLengthOfBlastSelectedSegmentsPathSelected($event)"
          [(ngModel)]="lengthOfBlastSelectedSegmentsPath"
          class="form-control standart-input-height va-small-text ms-1 w5-5"
          placeholder="Length of BLAST selected segments path"
        />
      </div>
    </div>

    <!-- Adjusts the source/target count of the get some zero degree nodes option -->
    <div>
      <div class="form-inline m-1">
        <label class="va-text">Seed source/target count</label>
        <input
          type="number"
          max="100"
          min="1"
          step="any"
          (change)="onSeedSourceTargetCount($event)"
          [(ngModel)]="seedSourceTargetCount"
          class="form-control standart-input-height va-small-text ms-1 w5-5"
          placeholder="Seed source/target count"
        />
      </div>
    </div>
  </div>
  <div>
    <input
      class="btn btn-sm btn-dark va-text m-2 center"
      type="button"
      (click)="resetPanGenoGrapherSettings()"
      value="Default"
      title="Reset to Default"
    />
  </div>
</div>

<div class="panel">
  <div
    class="panel-heading"
    data-bs-toggle="collapse"
    data-bs-target="#general-settings"
  >
    <span class="panel-title accordion-toggle"
      ><b class="va-heading2">General</b></span
    >
  </div>
  <div id="general-settings" class="collapse show">
    <div
      class="va-text"
      *ngFor="let setting of generalBoolSettings; let i = index"
    >
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="setting.isEnable"
          [id]="'generalBool' + i"
          (change)="settingChanged(setting.isEnable, setting.path2userPref)"
          [title]="setting.title"
        />
        <label
          class="form-check-label"
          [for]="'generalBool' + i"
          [title]="setting.title"
          >{{ setting.text }}</label
        >
      </div>
    </div>
    <div>
      <div class="form-check-label va-text">Show query results using</div>
      <div
        class="form-check-inline form-check va-text"
        *ngFor="let m of mergedElementIndicators; let i = index"
      >
        <input
          type="radio"
          [(ngModel)]="mergedElementIndicator"
          [value]="i"
          class="form-check-input"
          (click)="settingChanged(i, 'mergedElementIndicator')"
          name="optradio1"
          [id]="'mergedElementIndicator' + i"
          title="Show query results using"
        />
        <label class="form-check-label" [for]="'mergedElementIndicator' + i">
          {{ m }}
        </label>
      </div>
    </div>
    <div>
      <div class="form-check-label va-text">Group using</div>
      <div
        class="form-check-inline form-check va-text"
        *ngFor="let g of groupingOptions; let i = index"
      >
        <input
          type="radio"
          [(ngModel)]="groupingOption"
          [value]="i"
          class="form-check-input"
          [id]="'groupOpt' + i"
          (click)="settingChanged(i, 'groupingOption')"
          name="optradio2"
          title="Group using"
        />
        <label class="form-check-label" [for]="'groupOpt' + i">
          {{ g }}
        </label>
      </div>
    </div>
    <div>
      <label class="va-text">Selection style:</label>
      <div class="form-inline mx-1">
        <input
          type="number"
          max="20"
          min="1"
          step="any"
          (change)="onSelWidSelected($event)"
          [(ngModel)]="selectionWidth"
          class="form-control standart-input-height va-small-text ms-1 w5-5"
          placeholder="width"
        />
        <app-color-picker
          (onColorSelected)="onSelColorSelected($event)"
          [currColor]="selectionColor"
          class="align-middle"
        ></app-color-picker>
      </div>
    </div>
    <div>
      <div class="form-check-label va-text">Highlight style</div>
      <div class="form-inline mx-1">
        <select
          class="form-select tight-select filter-form va-small-text input-4-char mx-1"
          (change)="highlightStyleSelected($event.target)"
          title="Highlight style"
        >
          <option
            *ngFor="let c of currentHighlightStyles; let i = index"
            [selected]="highlightStyleIdx == i"
            [value]="c"
          >
            {{ c }}
          </option>
        </select>
        <input
          type="number"
          max="20"
          min="1"
          step="any"
          (change)="bandPassHighlightWidth()"
          [(ngModel)]="highlightWidth"
          class="form-control standart-input-height va-small-text w5-5"
          placeholder="width"
        />
        <app-color-picker
          (onColorSelected)="onColorSelected($event)"
          [currColor]="highlightColor"
          class="align-middle"
        >
        </app-color-picker>
        <a
          href="#"
          title="Update this style"
          (click)="changeHighlightStyle()"
          class="m-1"
        >
          <img src="../../../assets/img/refresh.svg" alt="Update this style" />
        </a>
        <a
          href="#"
          title="Delete this style"
          (click)="deleteHighlightStyle()"
          class="m-1"
        >
          <img src="../../../assets/img/close.svg" alt="Delete this style" />
        </a>
        <a
          href="#"
          title="Add new style"
          (click)="addHighlightStyle()"
          class="m-1"
        >
          <img src="../../../assets/img/add.svg" alt="Add new style" />
        </a>
      </div>
    </div>
    <div>
      <div class="form-check-label va-text">Query result pagination:</div>
      <div class="form-check-inline form-check va-text">
        <input
          type="radio"
          [(ngModel)]="queryResultPagination"
          value="Client"
          class="form-check-input"
          (click)="settingChanged('Client', 'queryResultPagination')"
          name="optradio6"
          id="clientPaginate"
        />
        <label class="form-check-label" for="clientPaginate"> Client </label>
      </div>
      <div class="form-check-inline form-check va-text">
        <input
          type="radio"
          [(ngModel)]="queryResultPagination"
          value="Server"
          class="form-check-input"
          (click)="settingChanged('Server', 'queryResultPagination')"
          name="optradio6"
          id="serverPaginate"
        />
        <label class="form-check-label" for="serverPaginate"> Server </label>
      </div>
    </div>
    <div class="form-inline m-1">
      <label class="va-text">Query result page size</label>
      <div class="mx-1">
        <input
          type="number"
          max="10000"
          min="1"
          (keydown.enter)="
            settingChanged(queryResultPageSize, 'queryResultPageSize')
          "
          [(ngModel)]="queryResultPageSize"
          class="form-control input-3-char standart-input-height va-small-text"
          title="Query result page size"
        />
      </div>
    </div>
    <div class="form-inline m-1">
      <label class="va-text">Query result page limit</label>
      <div class="mx-1">
        <input
          type="number"
          [disabled]="queryResultPagination == 'Server'"
          max="10000"
          min="1"
          (keydown.enter)="settingChanged(dataPageLimit, 'dataPageLimit')"
          [(ngModel)]="dataPageLimit"
          class="form-control input-3-char standart-input-height va-small-text"
          title="Query result page limit"
        />
      </div>
    </div>
    <div class="form-inline m-1">
      <label class="va-text">Query history limit</label>
      <div class="mx-1">
        <input
          type="number"
          max="100"
          min="1"
          (keydown.enter)="
            settingChanged(queryHistoryLimit, 'queryHistoryLimit')
          "
          [(ngModel)]="queryHistoryLimit"
          class="form-control input-3-char standart-input-height va-small-text"
          title="Query history limit"
        />
      </div>
    </div>
    <div class="form-inline m-1">
      <label class="va-text">Database execution timeout (sec)</label>
      <div class="mx-1">
        <input
          type="number"
          max="100"
          min="1"
          (keydown.enter)="settingChanged(dbTimeout, 'dbTimeout')"
          [(ngModel)]="dbTimeout"
          class="form-control input-3-char standart-input-height va-small-text"
          title="Database execution timeout (sec)"
        />
      </div>
    </div>
    <div class="form-inline m-1">
      <label class="va-text">Maximum number of columns in tables</label>
      <div class="mx-1">
        <input
          type="number"
          max="100"
          min="1"
          (keydown.enter)="settingChanged(tableColumnLimit, 'tableColumnLimit')"
          [(ngModel)]="tableColumnLimit"
          class="form-control input-3-char standart-input-height va-small-text"
          title="Maximum number of columns in tables"
        />
      </div>
    </div>
    <div class="form-inline m-1">
      <label class="va-text">Multiple edge collapse limit</label>
      <div class="mx-1">
        <input
          type="number"
          max="100"
          min="1"
          (keydown.enter)="
            settingChanged(edgeCollapseLimit, 'edgeCollapseLimit')
          "
          [(ngModel)]="edgeCollapseLimit"
          class="form-control input-3-char standart-input-height va-small-text"
          title="Multiple edge collapse limit"
        />
      </div>
    </div>
    <div class="form-inline m-1">
      <label class="va-text">Compound padding</label>
      <div class="mx-1">
        <input
          type="text"
          (keydown.enter)="settingChanged(compoundPadding, 'compoundPadding')"
          [(ngModel)]="compoundPadding"
          class="form-control input-3-char standart-input-height va-small-text"
          title="Compound padding"
        />
      </div>
    </div>
    <div class="form-check form-check-inline va-text">
      <input
        class="form-check-input"
        type="checkbox"
        [(ngModel)]="isStoreUserProfile"
        (change)="settingChanged(isStoreUserProfile, 'isStoreUserProfile')"
        id="storeUserProfile"
        title="Store user profile"
      />
      <label class="va-text">Store user profile</label>
    </div>
    <div>
      <input
        class="btn btn-sm btn-dark va-text m-2 center"
        type="button"
        (click)="resetGeneralSettings()"
        value="Default"
        title="Reset to Default"
      />
    </div>
  </div>
</div>
