<!-- Modal about -->
<div class="modal-header">
  <div class="modal-title va-heading1 text-center">Legend</div>
  <div>
    <button
      #closeBtn
      type="button"
      class="btn-close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
</div>
<div class="modal-body text-center">
  <div class="va-text">
    <div class="legend-container">
      <img
        src="assets/img/toolbar/legend.svg"
        class="d-inline-block align-top legend-svg"
        alt="Logo"
      />
    </div>
  </div>
</div>
