<div class="panel-group">
  <div class="panel" *ngIf="selectedClasses && selectedClasses.length > 0">
    <div
      class="panel-heading"
      data-bs-toggle="collapse"
      data-bs-target="#property-tab"
    >
      <span class="panel-title accordion-toggle"
        ><b class="va-heading2">{{ selectedClasses }}</b></span
      >
    </div>

    <div id="property-tab" class="collapse show text-center m-1">
      <div
        *ngIf="selectedItemProperties.segmentData"
        class="segment-data-container"
      >
        {{ selectedItemProperties.segmentData.value }}
      </div>
      <div
        *ngIf="selectedItemProperties.pos"
        class="combined-sequence-container"
      >
        <span
          *ngIf="selectedItemProperties.leftOfTheContainedSequence"
          class="combined-sequence-container-part"
          >{{ selectedItemProperties.leftOfTheContainedSequence.value }}</span
        >
        <span
          *ngIf="selectedItemProperties.containedSequence"
          class="edge-CIGAR-M-Eq-X"
          >{{ selectedItemProperties.containedSequence.value }}</span
        >
        <span
          *ngIf="selectedItemProperties.rightOfTheContainedSequence"
          class="combined-sequence-container-part"
          >{{ selectedItemProperties.rightOfTheContainedSequence.value }}</span
        >
      </div>
      <div
        *ngIf="selectedItemProperties.distance"
        class="combined-sequence-container"
      >
        <span
          *ngIf="selectedItemProperties.sourceSequence"
          class="combined-sequence-container-part"
          >{{ selectedItemProperties.sourceSequence.value }}</span
        >
        <span *ngIf="selectedItemProperties.distance" class="edge-CIGAR-M-Eq-X"
          >..({{ selectedItemProperties.distance.value }})..</span
        >
        <span
          *ngIf="selectedItemProperties.targetSequence"
          class="combined-sequence-container-part"
          >{{ selectedItemProperties.targetSequence.value }}</span
        >
      </div>
      <div
        *ngIf="selectedItemProperties.overlapSequence"
        class="combined-sequence-container"
      >
        <span
          *ngIf="selectedItemProperties.sourceSequenceWithoutOverlap"
          class="combined-sequence-container-part"
          >{{ selectedItemProperties.sourceSequenceWithoutOverlap.value }}</span
        >

        <ng-container
          *ngFor="
            let overlapIdentifier of selectedItemProperties.overlap
              .overlapIdentifiers;
            let i = index
          "
        >
          <span
            *ngIf="
              overlapIdentifier === 'M' ||
              overlapIdentifier === '=' ||
              overlapIdentifier === 'X'
            "
            class="edge-CIGAR-M-Eq-X"
            >{{ prepareCIGARForIndex(i) }}</span
          >
          <span *ngIf="overlapIdentifier === 'I'" class="edge-CIGAR-I">{{
            prepareCIGARForIndex(i)
          }}</span>
          <span *ngIf="overlapIdentifier === 'D'" class="edge-CIGAR-D">{{
            prepareCIGARForIndex(i)
          }}</span>
          <span *ngIf="overlapIdentifier === 'N'" class="edge-CIGAR-N">{{
            prepareCIGARForIndex(i)
          }}</span>
          <span
            *ngIf="overlapIdentifier === 'S' || overlapIdentifier === 'H'"
            class="edge-CIGAR-S-H"
            >{{ prepareCIGARForIndex(i) }}</span
          >
        </ng-container>

        <span
          *ngIf="selectedItemProperties.targetSequenceWithoutOverlap"
          class="combined-sequence-container-part"
          >{{ selectedItemProperties.targetSequenceWithoutOverlap.value }}</span
        >
      </div>

      <table class="table table-responsive table-borderless table-sm">
        <tbody>
          <tr *ngIf="selectedItemProperties.sequenceLength">
            <td class="text-start">
              <b class="va-text">Sequence length</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.sequenceLength.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.segmentName">
            <td class="text-start">
              <b class="va-text">Segment name</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.segmentName.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.segmentLength">
            <td class="text-start">
              <b class="va-text">Segment length</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.segmentLength.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.readCount">
            <td class="text-start">
              <b class="va-text">Read count</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.readCount.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.fragmentCount">
            <td class="text-start">
              <b class="va-text">Fragment count</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.fragmentCount.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.kmerCount">
            <td class="text-start">
              <b class="va-text">K-mer count</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.kmerCount.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.Sha256Checksum">
            <td class="text-start">
              <b class="va-text">SHA-256 checksum</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.Sha256Checksum.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.UriOrLocalSystemPath">
            <td class="text-start">
              <b class="va-text">URI or local file-system path</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.UriOrLocalSystemPath.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.overlap">
            <td class="text-start">
              <b class="va-text">Overlap</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.overlap.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.sourceOrientation">
            <td class="text-start">
              <b class="va-text">Source orientation</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.sourceOrientation.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.targetOrientation">
            <td class="text-start">
              <b class="va-text">Target orientation</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.targetOrientation.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.mappingQuality">
            <td class="text-start">
              <b class="va-text">Mapping quality</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.mappingQuality.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.numberOfMismatchesOrGaps">
            <td class="text-start">
              <b class="va-text">Number of mismatches/gap</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.numberOfMismatchesOrGaps.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.edgeIdentifier">
            <td class="text-start">
              <b class="va-text">Edge identifier</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.edgeIdentifier.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.indirectShortcutConnections">
            <td class="text-start">
              <b class="va-text">Indirect shortcut connections</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.indirectShortcutConnections.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.distance">
            <td class="text-start">
              <b class="va-text">Distance</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.distance.value }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProperties.pos">
            <td class="text-start">
              <b class="va-text">Pos</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProperties.pos.value }}
            </td>
          </tr>
        </tbody>
      </table>

      <div
        *ngIf="
          selectedItemProperties.pathNames &&
          selectedItemProperties.pathNames.value &&
          selectedItemProperties.pathNames.value.length
        "
        class="panel"
      >
        <div
          class="subpanel-heading collapsed px-1"
          data-bs-toggle="collapse"
          data-bs-target="#paths"
        >
          <span class="panel-title accordion-toggle"
            ><span class="va-heading3">Paths</span></span
          >
        </div>
        <div id="paths" class="collapse">
          <table class="table table-responsive table-borderless table-sm">
            <div class="path-walk-title">
              <input
                class="btn btn-sm btn-dark va-text m-2 center"
                type="button"
                (click)="getPathsSelected()"
                value="Get Path"
                title="Get Path"
              />
            </div>
            <tbody>
              <ng-container
                *ngFor="
                  let item of selectedItemProperties.pathNames.value;
                  let i = index
                "
              >
                <div class="path-walk-container va-text">
                  <div class="path-walk-item-begin">
                    <div
                      class="path-walk-name"
                      (mouseover)="
                        hightlightHoveredPath(
                          selectedItemProperties.pathNames.value[i]
                        )
                      "
                      (mouseout)="removeHighlightHoveredPathWalk()"
                      [ngClass]="{
                        isHoveredPathWalk:
                          selectedItemProperties.pathNames.value[i] ===
                          highlightedPathWalk
                      }"
                    >
                      <span
                        ><b>Path Name: </b>
                        {{
                          pathWalkNameTransform(
                            selectedItemProperties.pathNames.value[i]
                          )
                        }}
                      </span>
                    </div>
                    <div>
                      <input
                        type="checkbox"
                        [(ngModel)]="selectedItemProperties.pathChecked[i]"
                        (change)="setOtherPathsFalse(i)"
                        title="Select path"
                      />
                    </div>
                  </div>
                  <!-- If there is data for the path, show the path -->
                  <div *ngIf="selectedItemProperties.pathSegmentNames[i]">
                    <div>
                      <div class="path-walk-text-container">
                        <span>
                          {{
                            selectedItemProperties.pathSegmentNames[i]
                              .replaceAll(";", " ")
                              .replaceAll(",", " ")
                          }}
                        </span>
                      </div>
                    </div>
                    <div>
                      <span>
                        <b>Overlaps: </b>
                      </span>
                      <div class="path-walk-text-container">
                        <span>
                          {{
                            selectedItemProperties.pathOverlaps[i].replaceAll(
                              ",",
                              " "
                            )
                          }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- Else if there is no data for the path, show a button to get the path -->
                  <div *ngIf="!selectedItemProperties.pathSegmentNames[i]">
                    <div class="align-center display-flex justify-center">
                      <input
                        class="btn btn-sm btn-dark va-text m-2 center"
                        type="button"
                        (click)="
                          getPathFromDatabase(
                            selectedItemProperties.pathNames.value[i]
                          )
                        "
                        value="Get Path's Properities"
                        title="Get Path's Properities"
                      />
                    </div>
                  </div>
                </div>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

      <div
        *ngIf="
          selectedItemProperties.walkSampleIdentifiers &&
          selectedItemProperties.walkSampleIdentifiers.value &&
          selectedItemProperties.walkSampleIdentifiers.value.length
        "
        class="panel"
      >
        <div
          class="subpanel-heading collapsed px-1"
          data-bs-toggle="collapse"
          data-bs-target="#walks"
        >
          <span class="panel-title accordion-toggle"
            ><span class="va-heading3">Walks</span></span
          >
        </div>
        <div id="walks" class="collapse">
          <table class="table table-responsive table-borderless table-sm">
            <div class="path-walk-title">
              <input
                class="btn btn-sm btn-dark va-text m-2 center"
                type="button"
                (click)="getWalksSelected()"
                value="Get Walk"
                title="Get Walk"
              />
            </div>
            <tbody>
              <ng-container
                *ngFor="
                  let item of selectedItemProperties.walkSampleIdentifiers
                    .value;
                  let i = index
                "
              >
                <div class="path-walk-container va-text">
                  <div class="path-walk-item-begin">
                    <div
                      class="path-walk-name"
                      (mouseover)="
                        hightlightHoveredWalk(
                          selectedItemProperties.walkSampleIdentifiers.value[i]
                        )
                      "
                      (mouseout)="removeHighlightHoveredPathWalk()"
                      [ngClass]="{
                        isHoveredPathWalk:
                          selectedItemProperties.walkSampleIdentifiers.value[
                            i
                          ] === highlightedPathWalk
                      }"
                    >
                      <span
                        ><b>Walk sample identifier: </b>
                        {{
                          pathWalkNameTransform(
                            selectedItemProperties.walkSampleIdentifiers.value[
                              i
                            ]
                          )
                        }}
                      </span>
                    </div>
                    <div>
                      <input
                        type="checkbox"
                        [(ngModel)]="selectedItemProperties.walkChecked[i]"
                        (change)="setOtherWalksFalse(i)"
                        title="Select walk"
                      />
                    </div>
                  </div>
                  <!-- If there is data for the walk, show the walk -->
                  <div *ngIf="selectedItemProperties.walks[i]">
                    <div>
                      <span
                        ><b>Haplotype index: </b>
                        {{ selectedItemProperties.walkHaplotypeIndexes[i] }}
                      </span>
                    </div>
                    <div>
                      <span
                        ><b>Sequence identifier: </b>
                        {{ selectedItemProperties.walkSequenceIdentifiers[i] }}
                      </span>
                    </div>
                    <div>
                      <span
                        ><b>Start position: </b>
                        {{ selectedItemProperties.walkSequenceStarts[i] }}
                      </span>
                    </div>
                    <div>
                      <span
                        ><b>End position: </b>
                        {{ selectedItemProperties.walkSequenceEnds[i] }}
                      </span>
                    </div>
                    <div>
                      <span>
                        <b>Walk </b>
                      </span>
                      <div class="path-walk-text-container">
                        <span>
                          {{
                            selectedItemProperties.walks[i]
                              .replaceAll("\<", " \< ")
                              .replaceAll("\>", " \> ")
                              .substring(1)
                          }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- Else if there is no data for the walk, show a button to get the walk -->
                  <div *ngIf="!selectedItemProperties.walks[i]">
                    <div>
                      <input
                        class="btn btn-sm btn-dark va-text m-2 center"
                        type="button"
                        (click)="
                          getWalkFromDatabase(
                            selectedItemProperties.walkSampleIdentifiers.value[
                              i
                            ]
                          )
                        "
                        value="Get Walk's Properities"
                        title="Get Walk's Properities"
                      />
                    </div>
                  </div>
                </div>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

      <app-table-view
        *ngIf="isShowObjectTable"
        [params]="multipleObjectTableInput"
        [tableFilled]="multiObjectTableFilled"
        [clearFilter]="clearMultiObjectTableFilter"
        (onFilteringChanged)="filterMultipleObjectTable($event)"
      >
      </app-table-view>
    </div>
  </div>

  <div class="panel">
    <div
      class="panel-heading collapsed"
      data-bs-toggle="collapse"
      data-bs-target="#stat-tab"
    >
      <span class="panel-title accordion-toggle"
        ><b class="va-heading2">Statistics</b></span
      >
    </div>
    <div id="stat-tab" class="collapse">
      <app-table-view
        *ngIf="isShowStatsTable"
        [params]="tableInput"
        [tableFilled]="tableFilled"
        (onFilteringChanged)="filterTable($event)"
      >
      </app-table-view>
    </div>
  </div>
</div>
