table {
  margin-bottom: 0px;
}

td {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.segment-data-container {
  padding: 1% 1.5% 1.5% 1.5%;
  max-height: 350px;
  overflow-wrap: break-word;
  text-align: left;
  font-family: Inconsolata, monospace;
  font-weight: 700;
  max-width: 100%;
  overflow-y: auto;
  line-height: 20px;
  border: 2px solid #65676b;
  border-radius: 5px;
}

.combined-sequence-container {
  padding: 1% 1.5% 1.5% 1.5%;
  max-height: 350px;
  overflow-wrap: break-word;
  text-align: left;
  font-family: Inconsolata, monospace;
  font-weight: 700;
  max-width: 100%;
  overflow-y: auto;
  line-height: 20px;
  background-color: #c1cade;
  border: 2px solid #65676b;
  border-radius: 5px;
}

.combined-sequence-container-part:nth-child(1) {
  color: #e34a33;
}
.combined-sequence-container-part:nth-child(2) {
  color: black;
}
.combined-sequence-container-part:nth-child(3) {
  color: #c51b8a;
}