table {
  margin-bottom: 0px;
}

td {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.segment-data-container {
  padding: 1% 1.5% 1.5% 1.5%;
  max-height: 350px;
  overflow-wrap: break-word;
  text-align: left;
  font-family: Inconsolata, monospace;
  font-weight: 700;
  max-width: 100%;
  overflow-y: auto;
  line-height: 20px;
  border: 2px solid #65676b;
  border-radius: 5px;
}

.combined-sequence-container {
  padding: 1% 1.5% 1.5% 1.5%;
  max-height: 350px;
  overflow-wrap: break-word;
  text-align: left;
  font-family: Inconsolata, monospace;
  font-weight: 700;
  max-width: 100%;
  overflow-y: auto;
  line-height: 20px;
  background-color: rgba(193, 202, 222, 0.5);
  border: 2px solid #65676b;
  border-radius: 5px;
}

.combined-sequence-container-part:nth-child(1) {
  color: #415AD9;
}
.combined-sequence-container-part:nth-child(2) {
  color: black;
}
.combined-sequence-container-part:nth-child(3) {
  color: #D5235F;
}

.path-walk-container {
  border-top: 2px solid #65676b;
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.path-walk-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.path-walk-item {
}

.path-walk-item-begin {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.path-walk-text-container {
  padding: 1% 1.5% 1.5% 1.5%;
  max-height: 200px;
  overflow-wrap: break-word;
  text-align: left;
  font-family: Inconsolata, monospace;
  max-width: 100%;
  overflow-y: auto;
  line-height: 20px;
  border: 2px solid #65676b;
  border-radius: 5px;
}