table {
  margin-bottom: 0px;
}

td {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.segment-data-container {
  margin-top: 1%;
  padding: 1.5%;
  max-height: 350px;
  overflow-wrap: break-word;
  text-align: left;
  font-family: Inconsolata, monospace;
  font-weight: 700;
  max-width: 100%;
  overflow-y: auto;
  line-height: 20px;
}