<div class="panel-group">
  <div class="panel" *ngIf="selectedClasses && selectedClasses.length > 0">
    <div
      class="panel-heading"
      data-bs-toggle="collapse"
      data-bs-target="#prop-tab"
      aria-expanded="true"
    >
      <span class="panel-title accordion-toggle"
        ><b class="va-heading2">{{ selectedClasses }}</b></span
      >
    </div>

    <div id="prop-tab" class="collapse show text-center m-1">
      <div *ngIf="selectedItemProps.segmentData" class="segment-data-container">
        {{ selectedItemProps.segmentData.val }}
      </div>
      <div *ngIf="selectedItemProps.pos" class="combined-sequence-container">
        <span
          *ngIf="selectedItemProps.leftOfTheContainedSequence"
          class="combined-sequence-container-part"
          >{{ selectedItemProps.leftOfTheContainedSequence.val }}</span
        >
        <span
          *ngIf="selectedItemProps.containedSequence"
          class="edge-CIGAR-M"
          >{{ selectedItemProps.containedSequence.val }}</span
        >
        <span
          *ngIf="selectedItemProps.rightOfTheContainedSequence"
          class="combined-sequence-container-part"
          >{{ selectedItemProps.rightOfTheContainedSequence.val }}</span
        >
      </div>
      <div
        *ngIf="selectedItemProps.distance"
        class="combined-sequence-container"
      >
        <span
          *ngIf="selectedItemProps.sourceSequence"
          class="combined-sequence-container-part"
          >{{ selectedItemProps.sourceSequence.val }}</span
        >
        <span *ngIf="selectedItemProps.distance" class="edge-CIGAR-M"
          >..({{ selectedItemProps.distance.val }})..</span
        >
        <span
          *ngIf="selectedItemProps.targetSequence"
          class="combined-sequence-container-part"
          >{{ selectedItemProps.targetSequence.val }}</span
        >
      </div>
      <div
        *ngIf="selectedItemProps.overlapSequence"
        class="combined-sequence-container"
      >
        <span
          *ngIf="selectedItemProps.sourceSequenceWithoutOverlap"
          class="combined-sequence-container-part"
          >{{ selectedItemProps.sourceSequenceWithoutOverlap.val }}</span
        >

        <ng-container
          *ngFor="
            let overlapIdentifier of selectedItemProps.overlap
              .overlapIdentifiers;
            let i = index
          "
        >
          <span
            *ngIf="
              overlapIdentifier === 'M' ||
              overlapIdentifier === '=' ||
              overlapIdentifier === 'X'
            "
            class="edge-CIGAR-M-Eq-X"
            >{{ prepareCIGARForIndex(i) }}</span
          >
          <span *ngIf="overlapIdentifier === 'I'" class="edge-CIGAR-I">{{
            prepareCIGARForIndex(i)
          }}</span>
          <span *ngIf="overlapIdentifier === 'D'" class="edge-CIGAR-D">{{
            prepareCIGARForIndex(i)
          }}</span>
          <span *ngIf="overlapIdentifier === 'N'" class="edge-CIGAR-N">{{
            prepareCIGARForIndex(i)
          }}</span>
          <span
            *ngIf="overlapIdentifier === 'S' || overlapIdentifier === 'H'"
            class="edge-CIGAR-S-H"
            >{{ prepareCIGARForIndex(i) }}</span
          >
        </ng-container>

        <span
          *ngIf="selectedItemProps.targetSequenceWithoutOverlap"
          class="combined-sequence-container-part"
          >{{ selectedItemProps.targetSequenceWithoutOverlap.val }}</span
        >
      </div>

      <table class="table table-responsive table-borderless table-sm">
        <tbody>
          <tr *ngIf="selectedItemProps.sequenceLength">
            <td class="text-start">
              <b class="va-text">Sequence Length</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.sequenceLength.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.segmentName">
            <td class="text-start">
              <b class="va-text">Segment Name</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.segmentName.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.segmentLength">
            <td class="text-start">
              <b class="va-text">Segment Length</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.segmentLength.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.readCount">
            <td class="text-start">
              <b class="va-text">Read count</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.readCount.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.fragmentCount">
            <td class="text-start">
              <b class="va-text">Fragment count</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.fragmentCount.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.kmerCount">
            <td class="text-start">
              <b class="va-text">K-mer count</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.kmerCount.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.SHA256Checksum">
            <td class="text-start">
              <b class="va-text">SHA-256 checksum</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.SHA256Checksum.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.URIorLocalSystemPath">
            <td class="text-start">
              <b class="va-text">URI or local file-system path</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.URIorLocalSystemPath.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.overlap">
            <td class="text-start">
              <b class="va-text">Overlap</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.overlap.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.targetOrientation">
            <td class="text-start">
              <b class="va-text">Target orientation</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.targetOrientation.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.sourceOrientation">
            <td class="text-start">
              <b class="va-text">Source orientation</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.sourceOrientation.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.mappingQuality">
            <td class="text-start">
              <b class="va-text">Mapping quality</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.mappingQuality.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.numberOfMismatchesOrGaps">
            <td class="text-start">
              <b class="va-text">Number of mismatches/gap</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.numberOfMismatchesOrGaps.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.edgeIdentifier">
            <td class="text-start">
              <b class="va-text">Edge identifier</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.edgeIdentifier.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.indirectShortcutConnections">
            <td class="text-start">
              <b class="va-text">Indirect shortcut connections</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.indirectShortcutConnections.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.distance">
            <td class="text-start">
              <b class="va-text">Distance</b>
            </td>
            <td class="va-text text-end">
              {{ selectedItemProps.distance.val }}
            </td>
          </tr>
          <tr *ngIf="selectedItemProps.pos">
            <td class="text-start">
              <b class="va-text">Pos</b>
            </td>
            <td class="va-text text-end">{{ selectedItemProps.pos.val }}</td>
          </tr>
        </tbody>
      </table>

      <table
        *ngIf="selectedItemProps.pathNames"
        class="table table-responsive table-borderless table-sm"
      >
        <div class="path-walk-title">
          <span class="va-heading1 va-text-center">Paths</span>
          <input
            class="btn btn-sm btn-dark va-text m-2 center"
            type="button"
            (click)="getPathsSelected()"
            value="Get Path"
            title="Get Path"
          />
        </div>
        <tbody>
          <ng-container
            *ngFor="let item of selectedItemProps.pathNames.val; let i = index"
          >
            <div class="path-walk-container va-text">
              <div class="path-walk-item-begin">
                <div
                  class="path-walk-name"
                  (mouseover)="
                    hightlightHoveredPath(selectedItemProps.pathNames.val[i])
                  "
                  (mouseout)="removeHighlightHoveredPathWalk()"
                  [ngClass]="{
                    isHoveredPathWalk:
                      selectedItemProps.pathNames.val[i] === highlightedPathWalk
                  }"
                >
                  <span
                    ><b>Path name: </b>
                    {{ selectedItemProps.pathNames.val[i] }}
                  </span>
                </div>
                <div>
                  <input
                    type="checkbox"
                    [(ngModel)]="selectedItemProps.pathChecked[i]"
                    (change)="setOtherPathsFalse(i)"
                    title="Select path"
                  />
                </div>
              </div>
              <div>
                <div class="path-walk-text-container">
                  <span>
                    {{
                      selectedItemProps.pathSegmentNames[i]
                        .replaceAll(";", " ")
                        .replaceAll(",", " ")
                    }}
                  </span>
                </div>
              </div>
              <div>
                <span>
                  <b>Overlaps </b>
                </span>
                <div class="path-walk-text-container">
                  <span>
                    {{ selectedItemProps.pathOverlaps[i].replaceAll(",", " ") }}
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
        </tbody>
      </table>

      <table
        *ngIf="selectedItemProps.walkSampleIds"
        class="table table-responsive table-borderless table-sm"
      >
        <div class="path-walk-title">
          <span class="va-heading1 va-text-center">Walks</span>
          <input
            class="btn btn-sm btn-dark va-text m-2 center"
            type="button"
            (click)="getWalksSelected()"
            value="Get Walk"
            title="Get Walk"
          />
        </div>
        <tbody>
          <ng-container
            *ngFor="
              let item of selectedItemProps.walkSampleIds.val;
              let i = index
            "
          >
            <div class="path-walk-container va-text">
              <div class="path-walk-item-begin">
                <div
                  class="path-walk-name"
                  (mouseover)="
                    hightlightHoveredWalk(
                      selectedItemProps.walkSampleIds.val[i]
                    )
                  "
                  (mouseout)="removeHighlightHoveredPathWalk()"
                  [ngClass]="{
                    isHoveredPathWalk:
                      selectedItemProps.walkSampleIds.val[i] ===
                      highlightedPathWalk
                  }"
                >
                  <span
                    ><b>Walk sample identifier: </b>
                    {{ selectedItemProps.walkSampleIds.val[i] }}
                  </span>
                </div>
                <div>
                  <input
                    type="checkbox"
                    [(ngModel)]="selectedItemProps.walkChecked[i]"
                    (change)="setOtherWalksFalse(i)"
                    title="Select walk"
                  />
                </div>
              </div>
              <div>
                <span
                  ><b>Haplotype index: </b>
                  {{ selectedItemProps.walkHapIndexes[i] }}
                </span>
              </div>
              <div>
                <span
                  ><b>Sequence identifier: </b>
                  {{ selectedItemProps.walkSeqIds[i] }}
                </span>
              </div>
              <div>
                <span
                  ><b>Start position: </b>
                  {{ selectedItemProps.walkSeqStarts[i] }}
                </span>
              </div>
              <div>
                <span
                  ><b>End position: </b>
                  {{ selectedItemProps.walkSeqEnds[i] }}
                </span>
              </div>
              <div>
                <span>
                  <b>Walk </b>
                </span>
                <div class="path-walk-text-container">
                  <span>
                    {{
                      selectedItemProps.walks[i]
                        .replaceAll("\<", " \< ")
                        .replaceAll("\>", " \> ")
                        .substring(1)
                    }}
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
        </tbody>
      </table>

      <app-table-view
        *ngIf="isShowObjTable"
        [params]="multiObjTableInp"
        [tableFilled]="multiObjTableFilled"
        [clearFilter]="clearMultiObjTableFilter"
        (onFilteringChanged)="filterMultiObjTable($event)"
      >
      </app-table-view>
    </div>
  </div>

  <div class="panel">
    <div
      class="panel-heading collapsed"
      data-bs-toggle="collapse"
      data-bs-target="#stat-tab"
    >
      <span class="panel-title accordion-toggle"
        ><b class="va-heading2">Statistics</b></span
      >
    </div>
    <div id="stat-tab" class="collapse">
      <app-table-view
        *ngIf="isShowStatsTable"
        [params]="tableInput"
        [tableFilled]="tableFilled"
        (onFilteringChanged)="filterTable($event)"
      >
      </app-table-view>
    </div>
  </div>

  <app-panel-container
    [panels]="customSubTabs"
    [containerId]="'obj-custom-sub-tab'"
  >
  </app-panel-container>
</div>
