table {
  margin-bottom: 0px;
}

td {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.segment-data-container {
  padding: 1% 1.5% 1.5% 1.5%;
  max-height: 350px;
  overflow-wrap: break-word;
  text-align: left;
  font-family: Inconsolata, monospace;
  font-weight: 700;
  overflow-y: auto;
  line-height: 20px;
  border: 2px solid #65676b;
  border-radius: 5px;
}

.combined-sequence-container {
  padding: 1% 1.5% 1.5% 1.5%;
  max-height: 350px;
  overflow-wrap: break-word;
  text-align: left;
  font-family: Inconsolata, monospace;
  font-weight: 700;
  overflow-y: auto;
  line-height: 20px;
  background-color: rgba(193, 202, 222, 0.5);
  border: 2px solid #65676b;
  border-radius: 5px;
}

.combined-sequence-container-part {
  color: black;
}

.path-walk-container {
  border-top: 1px solid #65676b;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.path-walk-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.path-walk-name {
  word-break: break-all;
}

.path-walk-item-begin {
  display: flex;
  justify-content: space-between;
}

.path-walk-text-container {
  padding: 0% 0% 1% 0%;
  max-height: 200px;
  overflow-wrap: break-word;
  text-align: left;
  font-family: Inconsolata, monospace;
  overflow-y: auto;
  line-height: 15px;
}

.isHoveredPathWalk {
  background-color: rgba(255, 255, 0, 0.2);
}
