<div class="row m-1 g-0 justify-content-center">
  <div class="col-3 px-1">
    <select
      title="Select an option"
      autofocus
      class="form-select tight-select filter-form va-small-text"
      [(ngModel)]="selectedProp"
      [disabled]="isGenericTypeSelected"
      (change)="changeSelectedProp()"
    >
      <option *ngFor="let p of selectedClassProps" [value]="p">
        {{ p }}
      </option>
    </select>
  </div>

  <div class="col-3 ps-1">
    <select
      title="Select an option"
      class="form-select tight-select filter-form va-small-text"
      [(ngModel)]="selectedOperatorKey"
      [disabled]="isGenericTypeSelected"
    >
      <option *ngFor="let o of operatorKeys" [value]="o">
        {{ o }}
      </option>
    </select>
  </div>

  <div class="col-5 ps-1">
    <div>
      <input
        [type]="currInpType"
        title="Value"
        [(ngModel)]="filterInp"
        [disabled]="isGenericTypeSelected || isShowTxtArea"
        (click)="filterInpClicked()"
        class="tight-select standart-input-height form-control filter-form filter-input va-small-text"
        placeholder="Filter..."
      />
    </div>
  </div>

  <div class="col-1 text-center">
    <img
      src="assets/img/tick.svg"
      title="Add/Update"
      (click)="onAddRuleClick($event)"
    />
  </div>
</div>
<div
  class="draggable-content"
  ngResizable
  ngDraggable
  [handle]="DragHandle"
  [position]="position"
  [rzHandles]="'all'"
  *ngIf="isShowTxtArea"
  [rzMinWidth]="350"
  [rzMinHeight]="250"
  (endOffset)="onMoveEnd($event)"
  (rzStop)="onResizeStop($event)"
  [style.width]="txtAreaSize.width + 'px'"
  [style.height]="txtAreaSize.height + 'px'"
>
  <div class="d-flex flex-column h-100">
    <div #DragHandle style="cursor: move" class="modal-header">
      <div class="modal-title va-heading1 text-center">
        <span *ngIf="selectedProp">{{ selectedProp }} - </span>One of
      </div>
      <div>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="txtAreaPopupCancel()"
        ></button>
      </div>
    </div>
    <div class="flex-grow-1 h-100 m-1">
      <textarea
        title="Input field"
        placeholder="Enter a value"
        class="va-text form-control"
        rows="3"
        cols="40"
        [(ngModel)]="textAreaInp"
      >
      </textarea>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <select
        title="Saved lists"
        class="m-1 form-select tight-select filter-form va-small-text"
        [(ngModel)]="currSelectedList"
        (change)="changeSelectedSavedList($event.target)"
      >
        <option disabled selected value>Choose a predefined list</option>
        <option *ngFor="let p of fittingSavedLists" [value]="p">{{ p }}</option>
      </select>
      <input
        autoSizeInput
        maxlength="33"
        [includeBorders]="true"
        [extraWidth]="3"
        type="text"
        title="Name"
        [(ngModel)]="currentListName"
        class="tight-select filter-form form-control standart-input-height m-1 va-small-text"
      />
      <span class="m-1">
        <img
          src="assets/img/tick.svg"
          title="Add/Update list"
          (click)="saveCurrList()"
        />
      </span>
      <span class="m-1" *ngIf="currentListName != 'New list'">
        <img
          src="assets/img/toolbar/delete-simple.svg"
          title="Delete list"
          (click)="deleteList()"
        />
      </span>
    </div>
    <div class="align-self-center">
      <button
        type="button"
        class="m-1 btn btn-sm btn-primary va-text"
        (click)="txtAreaPopupOk()"
      >
        OK
      </button>
      <button
        type="button"
        class="m-1 btn btn-sm btn-secondary va-text"
        (click)="txtAreaPopupCancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
