<div class="va-text">
  <div class="d-flex align-items-center justify-content-center">
    <select
      class="form-select tight-select filter-form va-small-text query-select"
      [(ngModel)]="selectedQuery"
      (ngModelChange)="onSelectedQueryChange($event)"
      title="Choose a query"
    >
      <option value="">Choose a query</option>
      <option *ngFor="let query of queries" [value]="query">{{ query }}</option>
    </select>
  </div>
</div>

<div
  *ngIf="selectedQuery === queries[0]"
  class="va-text d-flex flex-column align-items-center justify-content-center"
>
  <label
    for="segmentNamesInput"
    class="sr-only my-2"
    title="Takes a list of segment names entered and finds all segments that match the names. The resulting segments can be listed or directly graphed depending on the options. Additionally, you can specify a neighbor distance to include neighboring segments within the given distance."
    >Search by segment names</label
  >
  <textarea
    type="number"
    id="segmentNamesInput"
    [(ngModel)]="segmentNames"
    [style.height]="'100px'"
    class="form-control va-small-text"
    title="Enter Segment names to search line by line or comma separated"
    placeholder="Enter Segment names to search line by line or comma separated"
  >
  </textarea>
  <div class="form-inline va-text flex my-2">
    <label
      title="Specify the neighbor distance to include neighboring segments within the given distance."
      >Neighbor distance</label
    >
    <input
      type="number"
      min="0"
      max="20"
      step="any"
      [(ngModel)]="neighborDistance"
      (change)="onNeighborDistanceChange($event)"
      class="form-control standard-input-height va-small-text ms-1 w5-5"
      placeholder="Neighbor Distance"
      title="Specify the neighbor distance to include neighboring segments within the given distance."
    />
  </div>
</div>

<div
  *ngIf="selectedQuery === queries[1]"
  class="va-text d-flex flex-column align-items-center justify-content-center"
>
  <label
    for="sequencesInput"
    class="sr-only my-2"
    title="Enter nucleotide sequences to search for specific segments"
    >Search by sequence</label
  >
  <textarea
    type="number"
    id="sequencesInput"
    [(ngModel)]="sequences"
    [style.height]="'100px'"
    class="form-control va-small-text"
    title="Enter Segment sequences to search line by line or comma separated"
    placeholder="Enter Segment sequences to search line by line or comma separated"
  >
  </textarea>
  <div class="form-inline va-text flex my-2">
    <label
      for="graphEdges"
      title="Enable this option to connect nodes when visualizing the graph"
      >Connect nodes when graphing</label
    >
    <input
      class="form-check-input ms-1"
      type="checkbox"
      [(ngModel)]="graphEdges"
      id="graphEdges"
      title="Enable this option to connect nodes when visualizing the graph"
      placeholder="Graph Edges"
    />
  </div>
</div>

<div
  *ngIf="selectedQuery === queries[2]"
  class="va-text d-flex flex-column align-items-center justify-content-center"
>
  <label
    for="sequencesInput"
    class="sr-only my-2"
    title="Takes a chain of sequences entered and finds all maximal paths that contain the entire chain of sequences or a sub-chain of sequences. The resulting paths can be listed or directly graphed depending on the options."
    >Search by sequence chain</label
  >
  <textarea
    type="number"
    id="sequencesInput"
    [(ngModel)]="sequences"
    [style.height]="'100px'"
    class="form-control va-small-text"
    title="Enter Segment sequences to search line by line or comma separated"
    placeholder="Enter Segment sequences to search line by line or comma separated"
  >
  </textarea>
  <div class="form-inline va-text flex my-2">
    <label
      for="maxJumpLength"
      class="d-inline-block"
      title="Specify the maximum allowed jump length between sequences, counted in number of segments skipped"
      >Maximum jump length</label
    >
    <input
      type="number"
      min="0"
      max="20"
      step="any"
      id="maxJumpLength"
      [(ngModel)]="maxJumpLength"
      (change)="onMaxJumpLengthChange($event)"
      class="form-control standard-input-height va-small-text ms-1 w5-5"
      placeholder="Maximum jump length"
      title="Specify the maximum allowed jump length between sequences, counted in number of segments skipped"
    />
  </div>
  <div class="form-inline va-text flex my-2">
    <label
      for="minSubsequenceMatchLength"
      title="Specify the minimum length of subsequences that must match, counted in number of sequences starting from the first sequence"
      >Minimum subsequence match length</label
    >
    <input
      type="number"
      min="0"
      step="any"
      id="minSubsequenceMatchLength"
      [(ngModel)]="minSubsequenceMatchLength"
      (change)="onMinSubsequenceMatchLengthChange($event)"
      class="form-control standard-input-height va-small-text ms-1 w5-5"
      placeholder="Minimum subsequence match length"
      title="Specify the minimum length of subsequences that must match, counted in number of sequences starting from the first sequence"
    />
  </div>
</div>

<div
  *ngIf="selectedQuery !== ''"
  class="d-flex align-items-center justify-content-center m-1"
>
  <input
    class="btn btn-sm btn-dark va-text m-2 center"
    type="button"
    (click)="execute()"
    value="Execute"
  />

  <div class="form-check va-text m-1">
    <input
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="isLoadGraph"
      (change)="onIsLoadGraphChange($event)"
      id="isGraph"
      title="Elements queried will be loaded as a graph"
      placeholder="Elements queried will be loaded as a graph"
    />
    <label
      class="form-check-label"
      for="isGraph"
      title="Elements queried will be loaded as a graph"
      >Graph</label
    >
  </div>
  <div class="form-check va-text m-1">
    <input
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="tableInput.isMergeGraph"
      id="isMerge"
      title="If checked, the queried elements will be merged into current graph"
      placeholder="Merge Graph"
    />
    <label
      class="form-check-label"
      for="isMerge"
      title="If checked, the queried elements will be merged into current graph"
      >Merge</label
    >
  </div>
</div>

<app-table-view
  *ngIf="selectedQuery === queries[2]"
  [params]="sequenceChainTableInput"
  [tableFilled]="sequenceChainTableIsFilled"
  (onFilteringChanged)="filterSequenceChainTable($event)"
  [clearFilter]="clearSequenceChainTableFilter"
></app-table-view>

<app-table-view
  *ngIf="selectedQuery !== ''"
  [params]="tableInput"
  [tableFilled]="tableIsFilled"
  (onFilteringChanged)="filterTable($event)"
  [clearFilter]="clearTableFilter"
></app-table-view>
