.navbar {
  padding: 1px;
}
#brand-logo {
  height: 42px;
  margin-right: 5px;
}
.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.va-title {
  font-weight: bold;
  font-size: 1.2rem;
}
