.result {
  height: 400px;
}

.top-button {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-wrap: break-word;
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blast-option {
  margin-bottom: 10px;
}

.blast-option-label {
  margin-right: 10px;
}

.web-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-wrap: break-word;
}

textarea.form-control {
  resize: vertical;
}

.blast-query-input {
  height: 15em;
}

.blast-segment-name-input {
  height: 6em;
}
