.result {
  max-height: 400px;
}

.make-db {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-wrap: break-word;
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;
}

.query {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blast-option {
  margin-bottom: 10px;
}

.blast-option-label {
  margin-right: 10px;
}