<div class="panel">
  <div class="mx-1">
    <div class="va-text d-flex align-items-center justify-content-center m-2">
      <select
        class="form-select tight-select filter-form va-small-text query-select"
        [(ngModel)]="selectedType"
        (change)="onchangeTypeChange($event)"
        title="Choose a type"
      >
        <option value="">Choose a type</option>
        <option *ngFor="let type of types" [value]="type">
          {{ type }}
        </option>
      </select>
    </div>

    <div *ngIf="selectedTypeIndex === 1" class="panel">
      <div>
        <div class="top-button">
          <input
            class="btn btn-sm btn-dark va-text m-2 center"
            type="button"
            (click)="fillQueryTextareaWithSelectedSegmentsSequence()"
            value="Get Selected Segment's Sequence"
            title="Get Selected Segment's Sequence"
          />
        </div>
        <div class="form-inline blast-option">
          <textarea
            (change)="onQueryChange($event)"
            [(ngModel)]="query"
            class="form-control blast-sequence-input va-small-text"
            rows="1"
            placeholder="Accession, GI, or FASTA."
          ></textarea>
        </div>
      </div>

      <div class="form-inline blast-option">
        <label class="va-text blast-option-label">Database</label>
        <select
          class="form-select tight-select filter-form va-small-text input-4-char blast-option-label"
          (change)="onWebDatabaseChange($event)"
          title="Database"
          [(ngModel)]="webSelectedDatabaseName"
        >
          <option
            *ngFor="
              let database of getWebDatabasesNameForSelectedProgram();
              let i = index
            "
            [value]="database"
          >
            {{ database }}
          </option>
        </select>
      </div>

      <div class="form-inline blast-option">
        <label class="va-text blast-option-label">Program</label>
        <select
          class="form-select tight-select filter-form va-small-text input-4-char w-auto blast-option-label"
          (change)="onWebProgramChange($event)"
          title="Program"
          [(ngModel)]="webSelectedProgram"
        >
          <option
            *ngFor="let program of webPrograms; let i = index"
            [value]="program"
          >
            {{ program }}
          </option>
        </select>

        <div class="form-check form-check-inline va-text">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="webEnableMegaBlast"
            (change)="onWebMegaBlastChange($event)"
            id="enableMegaBlast"
            title="Enable MegaBlast"
          />
          <label class="va-text">Enable MegaBLAST</label>
        </div>
      </div>

      <div class="form-inline blast-option">
        <label class="va-text blast-option-label"
          >Search Request Identifier (RID)</label
        >
        <textarea
          (change)="onWebRIDChange($event)"
          [(ngModel)]="webRid"
          class="form-control standart-input-height va-small-text ms-1 h-10"
          placeholder="The Request ID (RID) returned when the search was submitted"
        ></textarea>
      </div>

      <div *ngIf="webRtoe" class="form-inline blast-option">
        <label class="va-text blast-option-label"
          >Estimated Request Time of Execution(RTOE): {{ webRtoe }}
        </label>
      </div>

      <div *ngIf="webStatus" class="form-inline blast-option">
        <label class="va-text blast-option-label"
          >Search Request Status: <strong>{{ webStatus }}</strong>
        </label>
      </div>

      <div class="form-inline blast-option">
        <label class="va-text blast-option-label">Output Format Type</label>
        <select
          class="form-select tight-select filter-form va-small-text input-4-char w-auto"
          (change)="onWebFormatTypeChange($event)"
          title="Format Type"
          [(ngModel)]="webSelectedFormatType"
        >
          <option
            *ngFor="let type of webFormatTypes; let i = index"
            [value]="type"
          >
            {{ type }}
          </option>
        </select>
      </div>

      <div class="panel">
        <div
          class="subpanel-heading collapsed px-1"
          data-bs-toggle="collapse"
          data-bs-target="#formatOptions"
        >
          <span class="panel-title accordion-toggle"
            ><span class="va-heading3">Format Options</span></span
          >
        </div>
        <div id="formatOptions" class="collapse">
          <div class="form-inline blast-option">
            <label class="va-text blast-option-label">NCBI GenInfo</label>
            <select
              class="form-select tight-select filter-form va-small-text input-4-char w-auto"
              (change)="onWebNCBIGenInfoChange($event)"
              title="NCBI GenInfo"
              [(ngModel)]="webSelectedNCBIGenInfo"
            >
              <option
                *ngFor="let genInfo of webNcbiGenInfos; let i = index"
                [value]="genInfo"
              >
                {{ genInfo }}
              </option>
            </select>
          </div>

          <div class="form-inline blast-option">
            <label class="va-text blast-option-label">Format Object</label>
            <select
              class="form-select tight-select filter-form va-small-text input-4-char w-auto"
              (change)="onWebFormatObjectChange($event)"
              title="Format Object"
              [(ngModel)]="webSelectedFormatObject"
            >
              <option
                *ngFor="let formatObject of webFormatObjects; let i = index"
                [value]="formatObject"
              >
                {{ formatObject }}
              </option>
            </select>
          </div>

          <div class="form-inline blast-option">
            <label class="va-text blast-option-label"
              >Hitlist Size (0 for undefined)</label
            >
            <input
              type="number"
              min="0"
              (keydown.enter)="onWebHitlistSizeChange($event)"
              [(ngModel)]="webHitlistSize"
              class="form-control input-3-char standart-input-height va-small-text"
              title="Hitlist Size"
            />
          </div>

          <div
            *ngIf="
              webSelectedFormatType === 'HTML' ||
              webSelectedFormatType === 'Text'
            "
            class="form-inline blast-option"
          >
            <label class="va-text blast-option-label"
              >Descriptions (0 for undefined)</label
            >
            <input
              type="number"
              min="0"
              (keydown.enter)="onWebDescriptionsChange($event)"
              [(ngModel)]="webDescriptions"
              class="form-control input-3-char standart-input-height va-small-text"
              title="Descriptions"
            />
          </div>

          <div
            *ngIf="
              webSelectedFormatType === 'HTML' ||
              webSelectedFormatType === 'Text'
            "
            class="form-inline blast-option"
          >
            <label class="va-text blast-option-label"
              >Alignments (0 for undefined)</label
            >
            <input
              type="number"
              min="0"
              (keydown.enter)="onWebAlignmentsChange($event)"
              [(ngModel)]="webAlignments"
              class="form-control input-3-char standart-input-height va-small-text"
              title="Alignments"
            />
          </div>
        </div>
      </div>

      <div class="panel">
        <div
          class="subpanel-heading collapsed px-1"
          data-bs-toggle="collapse"
          data-bs-target="#algorithmOptions"
        >
          <span class="panel-title accordion-toggle"
            ><span class="va-heading3">Algorithm Options</span></span
          >
        </div>
        <div id="algorithmOptions" class="collapse">
          <div class="form-inline blast-option">
            <label class="va-text blast-option-label"
              >Expect Threshold (0 for undefined)</label
            >
            <input
              type="number"
              min="0"
              (keydown.enter)="onWebExpectChange($event)"
              [(ngModel)]="webExpect"
              class="form-control input-3-char standart-input-height va-small-text"
              title="Expect"
            />
          </div>

          <div class="form-inline blast-option">
            <label class="va-text blast-option-label"
              >Word Size (0 for undefined)</label
            >
            <input
              type="number"
              min="0"
              (keydown.enter)="onWebWordSizeChange($event)"
              [(ngModel)]="webWordSize"
              class="form-control input-3-char standart-input-height va-small-text"
              title="Word Size"
            />
          </div>

          <div class="form-inline blast-option">
            <label class="va-text blast-option-label">Gap Costs</label>
            <textarea
              (change)="onWebGapCostChange($event)"
              [(ngModel)]="webGapCost"
              class="form-control standart-input-height va-small-text ms-1 h-10"
              placeholder="Pair of positive integers separated by a space such as “11 1”."
            ></textarea>
          </div>

          <div
            *ngIf="webSelectedProgram !== 'blastn'"
            class="form-inline blast-option"
          >
            <label class="va-text blast-option-label">Matrix</label>
            <select
              class="form-select tight-select filter-form va-small-text input-4-char w-auto"
              (change)="onWebMatrixChange($event)"
              title="Matrix"
              [(ngModel)]="webSelectedMatrixIdx"
            >
              <option
                *ngFor="let matrix of webMatrixs; let i = index"
                [value]="matrix"
                [selected]="webSelectedMatrixIdx === i"
              >
                {{ matrix }}
              </option>
            </select>
          </div>

          <div
            *ngIf="
              webSelectedProgram !== 'blastn' &&
              webSelectedProgram !== 'tblastx'
            "
            class="form-inline blast-option"
          >
            <label class="va-text blast-option-label"
              >Composition Based Statistics (-1 for undefined)</label
            >
            <select
              class="form-select tight-select filter-form va-small-text input-4-char"
              (change)="onWebCompositionBasedStatisticsChange($event)"
              title="Composition Based Statistics"
              [(ngModel)]="webSelectedCompositionBasedStatistic"
            >
              <option
                *ngFor="
                  let compositionBasedStatistic of webCompositionBasedStatistics;
                  let i = index
                "
                [value]="compositionBasedStatistic"
              >
                {{ compositionBasedStatistic }}
              </option>
            </select>
          </div>

          <div
            *ngIf="webSelectedProgram !== 'blastn'"
            class="form-inline blast-option"
          >
            <label class="va-text blast-option-label"
              >Threshold (0 for undefined)</label
            >
            <input
              type="number"
              min="0"
              (keydown.enter)="onWebThresholdChange($event)"
              [(ngModel)]="webThreshold"
              class="form-control input-3-char standart-input-height va-small-text"
              title="Threshold"
            />
          </div>

          <div
            *ngIf="webSelectedProgram === 'blastn'"
            class="form-inline blast-option"
          >
            <label class="va-text blast-option-label"
              >Nucleotide Reward (0 for undefined)</label
            >
            <input
              type="number"
              min="0"
              (keydown.enter)="onWebNucleotideRewardChange($event)"
              [(ngModel)]="webNulceotideReward"
              class="form-control input-3-char standart-input-height va-small-text"
              title="Nucleotide Reward"
            />
          </div>

          <div
            *ngIf="webSelectedProgram === 'blastn'"
            class="form-inline blast-option"
          >
            <label class="va-text blast-option-label"
              >Nucleotide Penalty (0 for undefined)</label
            >
            <input
              type="number"
              max="0"
              (keydown.enter)="onWebNucleotidePenaltyChange($event)"
              [(ngModel)]="webNulceotideReward"
              class="form-control input-3-char standart-input-height va-small-text"
              title="Nucleotide Penalty"
            />
          </div>

          <div class="form-inline blast-option">
            <label class="va-text blast-option-label">Filter and Mask</label>
            <select
              class="form-select tight-select filter-form va-small-text input-4-char w-auto"
              (change)="onWebFilterChange($event)"
              title="Filter"
              [(ngModel)]="webSelectedFilter"
            >
              <option
                *ngFor="let filter of webFilters; let i = index"
                [value]="filter"
              >
                {{ filter }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="web-buttons blast-option">
        <input
          class="btn btn-sm btn-dark va-text m-2 center"
          type="button"
          (click)="executeWebBlastQueryWithParams()"
          value="Execute"
          title="Execute Query"
        />
        <input
          class="btn btn-sm btn-dark va-text m-2 center"
          type="button"
          (click)="checkWebBlastQueryStatus()"
          value="Check Query Status"
          title="Check Query Status"
        />
        <input
          class="btn btn-sm btn-dark va-text m-2 center"
          type="button"
          (click)="getWebBlastQueryResult()"
          value="Get Result"
          title="Get Result"
        />
      </div>

      <div class="va-text">
        <div *ngIf="webResult">
          <pre class="result">{{ webResult }}</pre>
        </div>
        <div *ngIf="webResult" class="save">
          <input
            class="btn btn-sm btn-dark va-text m-2 center"
            type="button"
            (click)="saveResults()"
            value="Save Results"
            title="Save Results"
          />
        </div>
      </div>
    </div>

    <div *ngIf="selectedTypeIndex === 0" class="panel">
      <div class="top-button">
        <input
          class="btn btn-sm btn-dark va-text m-2 center float-left"
          type="button"
          (click)="createDatabase()"
          value="Create Database"
          title="Create Database"
        />
      </div>

      <div>
        <div class="top-button">
          <input
            class="btn btn-sm btn-dark va-text m-2 center"
            type="button"
            (click)="fillQueryTextareaWithSelectedSegmentsSequence()"
            value="Get Selected Segment's Sequence"
            title="Get Selected Segment's Sequence"
          />
        </div>
        <div class="form-inline blast-option">
          <textarea
            (change)="onQueryChange($event)"
            [(ngModel)]="query"
            class="form-control blast-sequence-input va-small-text"
            rows="1"
            placeholder="Accession, GI, or FASTA."
          ></textarea>
        </div>
      </div>

      <div>
        <label class="va-text">Command Line Arguments</label>
        <div class="form-inline">
          <textarea
            (change)="onStandaloneCommandLineArgumentsChange($event)"
            [(ngModel)]="standaloneCommandLineArguments"
            class="form-control standart-input-height va-small-text h-10"
            placeholder="Command line arguments for blastn."
          ></textarea>
        </div>
      </div>

      <div class="top-button">
        <input
          class="btn btn-sm btn-dark va-text m-2 center"
          type="button"
          (click)="executeStandaloneQueryWithParams()"
          value="Execute"
          title="Execute Query"
        />
      </div>

      <div>
        <pre
          *ngIf="standaloneResult && !standaloneIsTableInput"
          class="result"
          >{{ standaloneResult }}</pre
        >
        <app-table-view
          *ngIf="standaloneTableInput && standaloneIsTableInput"
          [params]="standaloneTableInput"
          [tableFilled]="standaloneIsTableInputFilled"
          [clearFilter]="standaloneClearTableOutputFilter"
          (onFilteringChanged)="onStandaloneTableFilterChange($event)"
        >
        </app-table-view>
      </div>

      <div *ngIf="standaloneResult" class="save">
        <input
          class="btn btn-sm btn-dark va-text m-2 center"
          type="button"
          (click)="saveResults()"
          value="Save Results"
          title="Save Results"
        />
      </div>
    </div>
  </div>
</div>
