<div
  class="va-text d-flex flex-column align-items-center justify-content-center"
>
  <label for="segmentNamesInput" class="sr-only my-2"
    >Search by segment names</label
  >
  <textarea
    type="number"
    id="segmentNamesInput"
    [(ngModel)]="segmentNames"
    [style.height]="'100px'"
    class="form-control va-small-text"
    title="Enter Segment names to search line by line or comma separated"
    placeholder="Enter Segment names to search line by line or comma separated"
  >
  </textarea>
  <div class="form-inline va-text flex my-2">
    <label>Neighbor distance</label>
    <input
      type="number"
      min="0"
      max="20"
      step="any"
      [(ngModel)]="neighborDistance"
      (change)="onNeighborDistanceChange($event)"
      class="form-control standart-input-height va-small-text ms-1 w5-5"
      placeholder="Neighbor Distance"
    />
  </div>
</div>

<div class="d-flex align-items-center justify-content-center m-1">
  <input
    class="btn btn-sm btn-dark va-text m-2 center"
    type="button"
    (click)="prepareQuery()"
    value="Execute"
  />

  <div class="form-check va-text m-1">
    <input
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="tableInput.isLoadGraph"
      id="isGraph"
    />
    <label class="form-check-label" for="isGraph">Graph</label>
  </div>
  <div class="form-check va-text m-1">
    <input
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="tableInput.isMergeGraph"
      title="Merge Graph"
      placeholder="Merge Graph"
    />
    <label class="form-check-label" for="isMerge">Merge</label>
  </div>
</div>

<app-table-view
  [params]="tableInput"
  [tableFilled]="tableIsFilled"
  [clearFilter]="clearTableFilter"
  (onFilteringChanged)="filterTable($event)"
></app-table-view>
