<div
  class="va-text d-flex flex-column align-items-center justify-content-center"
>
  <label for="sequencesInput" class="sr-only my-2">Search by sequence</label>
  <textarea
    type="number"
    id="sequencesInput"
    [(ngModel)]="sequences"
    [style.height]="'100px'"
    class="form-control va-small-text"
    title="Enter Sequences to search line by line or comma separated"
    placeholder="Enter Sequences to search line by line or comma separated"
  >
  </textarea>
  <div class="form-inline va-text flex my-2">
    <label for="graphEdges">Connect nodes when graphing</label>
    <input
      class="form-check-input ms-1"
      type="checkbox"
      [(ngModel)]="graphEdges"
      id="graphEdges"
      title="Graph Edges"
      placeholder="Graph Edges"
    />
  </div>
</div>

<div class="d-flex align-items-center justify-content-center m-1">
  <input
    class="btn btn-sm btn-dark va-text m-2 center"
    type="button"
    (click)="prepareQuery()"
    value="Execute"
  />

  <div class="form-check va-text m-1">
    <input
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="tableInput.isLoadGraph"
      id="isGraph"
    />
    <label class="form-check-label" for="isGraph">Graph</label>
  </div>
  <div class="form-check va-text m-1">
    <input
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="tableInput.isMergeGraph"
      title="Merge Graph"
      placeholder="Merge Graph"
    />
    <label class="form-check-label" for="isMerge">Merge</label>
  </div>
</div>

<app-table-view
  [params]="tableInput"
  [tableFilled]="tableIsFilled"
  (onFilteringChanged)="filterTable($event)"
  [clearFilter]="clearTableFilter"
></app-table-view>
