<!-- Modal quick help -->
<div class="modal-header">
  <div class="modal-title va-heading1 text-center">Quick Help</div>
  <div>
    <button
      #closeBtn
      type="button"
      class="btn-close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
</div>
<div class="modal-body text-center">
  <div class="va-text">
    <b>File > Import GFA:</b> To import a GFA file into Freebase.
    <br />
    <b>File > Samples > Freebase:</b> To switch to Freebase.
    <br />
    <b>File > Samples > Minigraph GRCh38 Human Pangenome: To load a
      variation graph built by Minigraph-r518 on the GRCh38 reference,
      representing HPRC year-1 human samples, excluding HG002 and NA19240
      (<a href="https://zenodo.org/records/10693675">source</a>).
    <br />
    <b>File > Samples > Human HLA Pangenome: To load a variation subgraph
      extracted from the GRCh38 pangenome (Minigraph GRCh38 Human Pangenome)
      using the CRHPG script (Andreace et al., Genome Biology, 2023) to model
      diversity across the HLA-A region.
    <br />
    <b>File > Samples > Bifrost E.coli Pangenome:</b> To load a colored de
    Bruijn graph constructed by Bifrost from 100 E.coli assemblies (k=31, 10
    threads) to capture strain-level variation.
    <br />
    <b>File > Samples > PGGB E.coli Pangenome:</b> To load a PGGB-built
    variation graph of 100 E.coli strains, smoothed and fixed to comprehensively
    represent genomic variation.
    <br />
    <b>Data > Clear Data:</b> To clear the database.
    <br />
    <b>Map > Query by Rule:</b> To query the database using segments or links of
    interest.
    <br />
    <b>Database > Custom Queries:</b> To construct an initial graph of interest.
    <br />
    <b>Click:</b> To inspect object properties.
    <br />
    <b>Click segment:</b> To enable visual cues for expanding the view upstream
    and downstream.
    <br />
    <b>Right-click:</b> To open the context menu for the associated object.
    <br />
    <b>Shift + drag:</b> To select as a box (select touched nodes and included
    edges).
    <br />
    <b>Shift + click:</b> To add or remove an element to or from the current
    selection.
    <br />
  </div>
  <div class="va-heading1">Tips</div>
  <div class="va-text">
    <b>Settings > Emphasize on hover:</b> To focus on a node or edge and its
    neighbors (source or target) on mouse over.
    <br />
    <b>Select multiple objects:</b> To see their attributes as a table.
  </div>
</div>
